.navBarWrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Lexend Zetta", sans-serif;
    text-transform: uppercase;
    position: sticky;
}

.navBarWrapper h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.menuIcon {
    width: 3em;
    height: 3em;
    display: none;
}

.navBarWrapper ul {
    padding: 0;
    font-size: 1.2em;
}

.navBarWrapper li {
    width: fit-content;
    list-style-type: none;
    margin-bottom: 1em;
    border-bottom: 0.4em solid transparent;
    transition: border-bottom 1.5s;
}

.navBarWrapper a {
    text-decoration: none;
    color: #fff;
}

.navBarWrapper li:hover {
    border-bottom: 0.4em solid rgb(0, 255, 21);
}

@media only screen and (max-width: 768px) {
    .menuIcon {
        display: block;
        cursor: pointer;
    }

    .navBarWrapper h1 {
        width: 80%;
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .brandAndIcon {
        width: 100%;
        min-height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .navBarWrapper ul {
        display: none;
    }

    .navBarWrapper ul.open {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }
}